<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>About Us</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>

  <!-- Navigation Bar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">My Shopkeeper Website</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/about">About Us</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container my-5">
    <h1 class="text-center mb-5">About Us</h1>
    <p>We are a small shop located in the heart of the city. We strive to provide the best products and services to our customers. In order to maintain a high level of customer satisfaction, we have a set of rules and regulations that all our employees must follow. Some of these rules and regulations include:</p>
    <ul>
      <li>Always greet the customer with a smile and a warm welcome.</li>
      <li>Assist the customer in finding the products they are looking for.</li>
      <li>Be polite and courteous at all times.</li>
      <li>Ensure that all products are properly labeled and priced.</li>
      <li>Keep the store clean and organized at all times.</li>
    </ul>
    <p>We believe that by following these rules and regulations, we can provide the best possible shopping experience to our customers. Thank you for choosing us as your preferred shopping destination.</p>
  </div>

  <!-- Bootstrap JavaScript -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
